.article_has-hero-image {
  display: flex;
  flex-direction: column;
}

.article_has-side-image {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 15px;
  min-height: 120px;
}
@media screen and (max-width: 768px) {
  .article_has-side-image {
    display: flex;
    flex-direction: row-reverse;
  }
  .article_title {
    font-size: 1rem;
  }
  .article_body {
    padding: 0px 5px;
  }
}

.article_image_hero {
  width: 100%;
  overflow: hidden;
  max-height: 200px;
  margin-bottom: 10px;
}

.article_image_side {
  flex: 1;
  overflow: hidden;
  height: 100%;
  max-height: 200px;
}

.article_content {
  flex: 3;
}

.article_body {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
}

.article_title {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.article_excerpt {
  font-size: 0.75rem;
  color: #777777;
}

.article_author {
  font-size: 0.75rem;
  color: #313131;
}

.article_date {
  font-size: 0.75rem;
  color: #777777;
}
