.scrollable {
  overflow-x: auto;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .scrollable {
    position: relative;
  }

  .scrollable:nth-child(1){
    text-indent: 20px;
  }

  .scrollable::before {
    content: '<';
    color: red;
    position: absolute;
    background: white;
    width: 15px;
  }

  .scrollable::after {
    content: '>';
    color: blue;
    position: absolute;
    right: 0;
    background: #fff;
    width: 15px;
  }
}
