.navigation{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navigation > nav{
  flex: 1;
}

.navigation_arrow{
  background: #FFF;
  border: none;
  outline: none;
}

.navigation_arrow:active{
  color: #777777;
}


.scrollable {
  overflow-x: auto;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .scrollable {
    position: relative;
    display: flex;
  }
}
